{% extends "User/login.html" %}
{% block title %}Change your password{% endblock %}

{% load crispy_forms_tags %}

{% block login %}

    <h1 class="text-info">Reset your password</h1>
    {% if validlink %}
        <p class="text-danger">Please enter your new password twice:</p>
        <form action="." method="post">
        {{ form|crispy }}
        {% csrf_token %}
        <p><input type="submit" class="btn btn-outline-info btn-block mb-2" value="Change my password" /></p>
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has
        already been used. Please request a new password reset.</p>
    {% endif %}


{% endblock %}