{% extends 'Admin/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Edit Product | Admin ePalece  {% endblock %}

{% block content %}



<!-- <link rel="stylesheet" type="text/css" href=" static '/css/style.css'%}"> -->
<div class="container" >
<section class="section-content padding-y">

    <!-- ============================ COMPONENT REGISTER   ================================= -->
    <link rel="stylesheet" href="{% static '/css/cropper.min.css' %}">
        <div class="card mx-auto" style="max-width:870px; margin-top:40px;">
          <article class="card-body">
            <header class="mb-4 text-center text-info"><h4 class="card-title">Add Product</h4></header>
            <form method="POST" action="" enctype="multipart/form-data">
                     
                <textarea name="pro_img1" id="pro_img1" style="display: none;"></textarea>
                <img src="" id="imageview1" style="height: auto;width: 100px;">
                <textarea name="pro_img2" id="pro_img2" style="display: none;"></textarea>
                <img src="" id="imageview2" style="height: auto;width: 100px;">
                <textarea name="pro_img3" id="pro_img3" style="display: none;"></textarea>
                <img src="" id="imageview3" style="height: auto;width: 100px;">
                <textarea name="pro_img4" id="pro_img4" style="display: none;"></textarea>
                <img src="" id="imageview4" style="height: auto;width: 100px;">
                
                   {% csrf_token %}
                   {{ create_prd_form|crispy }}
                    {{ form.docfile }}
                        
                       
                    
                           
                        </div> 
                        <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Crop Image</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="result1"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                            </button>
                            <button type="button" id="btnCrop1" class="btn save1 btn-primary">Save changes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
 
        {#            modal#}
        <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Crop Image</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="box-2">
                            <div style="max-width: 100%;" class="result2"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                        </button>
                        <button type="button" id="btnCrop2" class="btn save2 btn-primary">Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {#            modal#}
        {#            modal#}
        <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Crop Image</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="box-2">
                            <div style="width:10em;height: 100%" class="result3"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                        </button>
                        <button type="button" id="btnCrop3" class="btn save3 btn-primary">Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>

        {# modal 4 #}
        <div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
       <div class="modal-dialog modal-dialog-centered" role="document">
           <div class="modal-content">
               <div class="modal-header">
                   <h5 class="modal-title" id="exampleModalLongTitle">Crop Image</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                   </button>
               </div>
               <div class="modal-body">
                   <div class="box-2">
                       <div style="width:10em;height: 100%" class="result4"></div>
                   </div>
               </div>
               <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                   </button>
                   <button type="button" id="btnCrop4" class="btn save4 btn-primary">Save changes
                   </button>
               </div>
           </div>
       </div>
   </div>


                       <button class="btn btn-outline-info btn-block">Add Product</button>
                       <a href="" class="btn btn-outline-primary btn-block mb-5">Cancel</a>
                        
            </form>

    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
    

    
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    
    </section>
</div>

<script>
    let result1 = document.querySelector('.result1'),
        save1 = document.querySelector('.save1'),
        cropped1 = document.querySelector('.imageview1'),
        upload1 = document.querySelector('#id_image'),
        cropper1 = '';

    upload1.addEventListener('change', (e) => {
            var fileName = document.getElementById("id_image").value;
            var idxDot = fileName.lastIndexOf(".") + 1;
            var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
            if (extFile == "jpg" || extFile == "jpeg" || extFile == "png") {
                if (e.target.files.length) {
                    // start file reader
                    const reader = new FileReader();
                    reader.onload = (e) => {
                        if (e.target.result) {
                            // create new image
                            $("#exampleModalCenter1").modal("show");
                            let img1 = document.createElement('img');
                            img1.id = 'image1';
                            img1.src = e.target.result
                            // clean result before
                            result1.innerHTML = '';
                            // append new image
                            result1.appendChild(img1);
                            // init cropper
                            cropper1 = new Cropper(img1, {
                                aspectRatio: 3 / 4,
                                viewMode: 2,
                            });
                        }
                    };
                    reader.readAsDataURL(e.target.files[0]);
                }
            }
            else {
                swal("this file type is not supported", {
                    icon: "error",
                })
                fileName = "";
                console.log(fileName)
            }
        }
    );

    save1.addEventListener('click', (e) => {
        e.preventDefault();
        // get result to data uri
        let imgSrc1 = cropper1.getCroppedCanvas({
            width: 300,
            height: 500// img disp value
        }).toDataURL();
        $("#exampleModalCenter1").modal("hide");
        imageview1.src = imgSrc1;
        $('#pro_img1').val(imgSrc1)
    });
</script>
<script>
    let result2 = document.querySelector('.result2'),
        save2 = document.querySelector('.save2'),
        cropped2 = document.querySelector('.imageview2'),
        upload2 = document.querySelector('#id_more_image_one'),
        cropper2 = '';

    upload2.addEventListener('change', (e) => {
            var fileName = document.getElementById("id_more_image_one").value;
            var idxDot = fileName.lastIndexOf(".") + 1;
            var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
            if (extFile == "jpg" || extFile == "jpeg" || extFile == "png") {
                if (e.target.files.length) {
                    // start file reader
                    const reader = new FileReader();
                    reader.onload = (e) => {
                        if (e.target.result) {
                            // create new image
                            $("#exampleModalCenter2").modal("show");
                            let img2 = document.createElement('img');
                            img2.id = 'image2';
                            img2.src = e.target.result;
                            // clean result before
                            result2.innerHTML = '';
                            // append new image
                            result2.appendChild(img2);
                            // init cropper
                            cropper2 = new Cropper(img2, {
                                aspectRatio: 3 / 4,
                                viewMode: 2,
                            });
                        }
                    };
                    reader.readAsDataURL(e.target.files[0]);
                }
            }
            else {
                swal("this file type is not supported", {
                    icon: "error",
                })
                fileName = "";
                console.log(fileName)
            }
        }
    );

    save2.addEventListener('click', (e) => {
        e.preventDefault();
        // get result to data uri
        let imgSrc2 = cropper2.getCroppedCanvas({
            width: 300,
            height: 500// img disp value
        }).toDataURL();
        $("#exampleModalCenter2").modal("hide");
        imageview2.src = imgSrc2;
        $('#pro_img2').val(imgSrc2)
    });
</script>
<script>
  let result3 = document.querySelector('.result3'),
      save3 = document.querySelector('.save3'),
      cropped3 = document.querySelector('.imageview3'),
      upload3 = document.querySelector('#id_more_image_two'),
      cropper3 = '';

  upload3.addEventListener('change', (e) => {
      var fileName = document.getElementById("id_more_image_two").value;
      var idxDot = fileName.lastIndexOf(".") + 1;
      var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
      if (extFile == "jpg" || extFile == "jpeg" || extFile == "png") {
          if (e.target.files.length) {
              // start file reader
              const reader = new FileReader();
              reader.onload = (e) => {
                  if (e.target.result) {
                      // create new image
                      $("#exampleModalCenter3").modal("show");
                      let img3 = document.createElement('img');
                      img3.id = 'image3';
                      img3.src = e.target.result
                      // clean result before
                      result3.innerHTML = '';
                      // append new image
                      result3.appendChild(img3);
                      // init cropper
                      cropper3 = new Cropper(img3, {
                          aspectRatio: 3 / 4,
                          viewMode: 2,
                      });
                  }
              };
              reader.readAsDataURL(e.target.files[0]);
          }
      } else {
          swal("this file type is not supported", {
              icon: "error",
          })
          fileName = "";
          console.log(fileName)
      }
  });

  save3.addEventListener('click', (e) => {
      e.preventDefault();
      // get result to data uri
      let imgSrc3 = cropper3.getCroppedCanvas({
          width: 300,
          height: 500// img disp value
      }).toDataURL();
      $("#exampleModalCenter3").modal("hide");
      imageview3.src = imgSrc3;
      $('#pro_img3').val(imgSrc3)
  });
</script>

<script>
let result4 = document.querySelector('.result4'),
    save4 = document.querySelector('.save4'),
    cropped4 = document.querySelector('.imageview4'),
    upload4 = document.querySelector('#id_more_image_three'),
    cropper4 = '';

upload4.addEventListener('change', (e) => {
    var fileName = document.getElementById("id_more_image_three").value;
    var idxDot = fileName.lastIndexOf(".") + 1;
    var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
    if (extFile == "jpg" || extFile == "jpeg" || extFile == "png") {
        if (e.target.files.length) {
            // start file reader
            const reader = new FileReader();
            reader.onload = (e) => {
                if (e.target.result) {
                    // create new image
                    $("#exampleModalCenter4").modal("show");
                    let img4 = document.createElement('img');
                    img4.id = 'image4';
                    img4.src = e.target.result
                    // clean result before
                    result4.innerHTML = '';
                    // append new image
                    result4.appendChild(img4);
                    // init cropper
                    cropper4 = new Cropper(img4, {
                        aspectRatio: 3 / 4,
                        viewMode: 2,
                    });
                }
            };
            reader.readAsDataURL(e.target.files[0]);
        }
    } else {
        swal("this file type is not supported", {
            icon: "error",
        })
        fileName = "";
        console.log(fileName)
    }
});

save4.addEventListener('click', (e) => {
    e.preventDefault();
    // get result to data uri
    let imgSrc4 = cropper4.getCroppedCanvas({
        width: 300,
        height: 500// img disp value
    }).toDataURL();
    $("#exampleModalCenter4").modal("hide");
    imageview4.src = imgSrc4;
    $('#pro_img4').val(imgSrc4)
});
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}