{% extends 'Admin/base.html' %}

{% block title %} Dashboard | Admin {% endblock title %}
{% block content %}

<div class="content-wrapper">
  <div class="content">						 
    <!-- Top Statistics -->
    <div class="row">

      <div class="col-xl-3 col-sm-6">
        <div class="card card-mini mb-4">
          <div class="card-body">
            <h2 class="mb-1">0{{ user_count }}</h2>
            <p>Total Users</p>
            <div class="chartjs-wrapper">
              <canvas id="barChart"></canvas>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6">
        <div class="card card-mini  mb-4">
          <div class="card-body">
            <h2 class="mb-1">0{{ category_count }}</h2>
            <p>Total category</p>
            <div class="chartjs-wrapper">
              <canvas id="dual-line"></canvas>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6">
        <div class="card card-mini mb-4">
          <div class="card-body">
            <h2 class="mb-1">0{{ product_count }}</h2>
            <p>Total products</p>
            <div class="chartjs-wrapper">
              <canvas id="area-chart"></canvas>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6">
        <div class="card card-mini mb-3">
          <div class="card-body">
            <h2 class="mb-2">{{ order_count }}</h2>
            <p>Total orders</p>
            <div class="chartjs-wrapper">
              <canvas id="line"></canvas>
            </div>
          </div>
        </div>
      </div>

    </div>

    
<!-- ========================= myown ================================ -->

 
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<div class="container">
  <div class="row" style="width: 1000px; height: 530px;">
  <canvas id="todayChart" ></canvas> <!--  style="width: 100px; height: 100px;" -->
  <canvas id="weekChart" ></canvas> <!--  style="width: 100px; height: 100px;" -->
  <canvas id="MonthChart" ></canvas> <!--  style="width: 100px; height: 100px;" -->
  </div>
</div>
   
<script>
  
// ------ TODAY SALES-------------------------
var ctx = document.getElementById('todayChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        // labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        labels: {{ today_product_list|safe }},
        datasets: [{
            label: 'Today sales',
            data: {{ today_total_list|safe }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});



// ------ WEEK SALES-------------------------
var ctx = document.getElementById('weekChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        // labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        labels: {{ week_product_list|safe }},
        datasets: [{
            label: '# Week sales',
            data: {{ week_total_list|safe }},
            backgroundColor: [
              'rgba(54, 162, 235, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
              'rgba(54, 162, 235, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});


// ------ Month SALES-------------------------
var ctx = document.getElementById('MonthChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ month_product_list|safe }},
        datasets: [{
            label: '# Monthly sales',
            data: {{ month_total_list|safe }},
            backgroundColor: [
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 206, 86, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
              'rgba(153, 102, 255, 1)',
              'rgba(255, 206, 86, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});



</script>



  </div>
</div>


{% endblock content %}
