{% extends 'Admin/base.html' %}

{% block title %} Dashboard | Admin {% endblock title %}
{% block content %}

<div class="content-wrapper">
    <div class="row mb-3">
        <div class="col-md-5">
            <h5>Monthly Sales Report</h5>
          </div>
          
          <div class="col-md-7">
            <form action="" method="GET" class="mr-2">
              <label for="">From</label>
              <input type="month" name="from_date" min="2021-01" max="2022-12" onblur="func()">
              <label for="">To</label>
              <input type="month" name="to_date" max="2022-12">
              <button class="btn btn-outline-primary btn-sm">submit</button>    
              {% if dowload_pdf %}
              <a href="{% url 'convert_to_pdf' %}" class="btn btn-outline-info btn-sm">{{ dowload_pdf }}</a>
              {% endif %}
            </form>
        </div>
    </div>

    <script>
      function func() {
        var from = document.getElementsByName('from_date')[0].value
        var to = document.getElementsByName('to_date')[0]
        to.min = from
      }
    </script>

    <table class="table">
      <thead id="myHeader">
        <tr>
          <th scope="col">No</th>
          <th scope="col">Date</th>
          <th scope="col">OderID</th>
          <th scope="col">User</th>
          <th scope="col">Product</th>
          <th scope="col">Payment Method</th>
          <th scope="col">Status</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        {% for mr in month_order %}
        <tr id="tr">
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ mr.time_stamp }}</td>
          <td>#EPLC9{{ mr.id }}</td>
          <td>{{ mr.user.username }}</td>
          <td>{{ mr.product.title }}</td>
          <td>{{ mr.payment }}</td>
          <td>{{ mr.order_status }}</td>
          <td>&#8377;{{ mr.product_price }}/-</td>
          
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h3 class="text-info">{{ message }}</h3>
    
    </div>
  </div>
</div>


{% endblock content %}
