<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>ePalace</title>
  <style>
    body {
      background-color: #f7f7f7;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
  </style>
</head>
<body>
  <h1 class="text-info text-center mt-3 mb-2">Sales Report</h1>

  <div class="container">
    <table class="table">
      <thead id="myHeader">
        <tr>
          <th scope="col">No</th>
          <th scope="col">Date</th>
          <th scope="col">OderID</th>
          <th scope="col">User</th>
          <th scope="col">Product</th>
          <th scope="col">Payment Method</th>
          <th scope="col">Status</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        {% for mr in month_order %}
        <tr id="tr">
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ mr.time_stamp }}</td>
          <td>#EPLC9{{ mr.id }}</td>
          <td>{{ mr.user.username }}</td>
          <td>{{ mr.product.title }}</td>
          <td>{{ mr.payment }}</td>
          <td>{{ mr.order_status }}</td>
          <td>&#8377;{{ mr.product_price }}/-</td>
          
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  
</body>
</html>