{% extends 'Admin/base.html' %}

{% block title %} Order Management | Admin panel {% endblock title %}
{% block content %}

  <!-- Recent Order Table -->
<div class="card card-table-border-none" id="recent-orders">
  <div class="card-header justify-content-between">
    <h2>Order Details</h2>
      <!-- <div class="date-range-report ">
        <span></span>
      </div> -->
  </div>

    <div class="card-body pt-0 pb-5">
      <table class="table card-table table-responsive table-responsive-large" style="width:100%">
        <thead>
          <tr>
            <th>No</th>
            <th>User</th>
            <th>Order ID</th>
            <th class="d-none d-md-table-cell">Item</th>
            <th class="d-none d-md-table-cell">Quantity</th>
            <th class="d-none d-md-table-cell">Price</th>
            <th class="d-none d-md-table-cell">Order Date</th>
            <th class="d-none d-md-table-cell">Status</th>
            <!-- <th>Actions</th> -->
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for ord in orders %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ ord.user.username }}</td>
            <td ><a class="text-dark" href="{% url 'orders_status_change' ord.id %}">#EPLC9{{ ord.id }}</a></td>
            <td >{{ ord.product.title }}</td>
            <td >{{ ord.product_quantity }}</td>
            <td class="d-none d-md-table-cell">&#8377;{{ total }}</td>
            <td class="d-none d-md-table-cell">{{ ord.date.time }}</td>
            <td >
              {% if ord.order_status == "Ordered" %}
              <span class="badge badge-warning">Ordered</span>

              {% elif ord.order_status == "Packed" %}
              <span class="badge badge-primary">Packed</span>

              {% elif ord.order_status == "Shipped" %}
              <span class="badge badge-info">Shipped</span>

              {% elif ord.order_status == "Delivered" %}
              <span class="badge badge-success">Delivered</span>

              {% elif ord.order_status == "Cancelled" %}
              <span class="badge badge-danger">Cancelled</span>
              {% endif %}
            </td>
            <!-- <td class="text-right">
              <div class="dropdown show d-inline-block widget-dropdown">
                <a class="dropdown-toggle icon-burger-mini" href="" role="button" id="dropdown-recent-order1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static"></a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-recent-order1">
                  <li class="dropdown-item">
                    <a href="{% url 'orders_status_change' ord.id %}">Change order status</a>
                  </li>
                  <li class="dropdown-item">
                    <a href="#">Delete User</a>
                  </li>
                </ul>
              </div>
            </td> -->
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
</div>
               
{% endblock content %}