{% extends 'Admin/base.html' %}

{% block title %} Order Management | Admin panel {% endblock title %}
{% block content %}

  <!-- Recent Order Table -->
<div class="card card-table-border-none" id="recent-orders">
  <div class="card-header justify-content-between">
    <h2>Order Details</h2>
      <!-- <div class="date-range-report ">
        <span></span>
      </div> -->
  </div>

    <div class="card-body pt-0 pb-5">
      <table class="table card-table table-responsive table-responsive-large" style="width:100%">
        <thead>
          <tr>
            <th>No</th>
            <th>User</th>
            <th>Order ID</th>
            <th class="d-none d-md-table-cell">Item</th>
            <th class="d-none d-md-table-cell">Quantity</th>
            <th class="d-none d-md-table-cell">Price</th>
            <th class="d-none d-md-table-cell">Order Date</th>
            <th class="d-none d-md-table-cell">Status</th>
            <!-- <th>Actions</th> -->
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for item in cart_item %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>John</td>
            <td ><a class="text-dark" href="{% url 'orders_status_change' item.id %}">#ePlc{{ item.id }}</a></td>
            <td >{{ item.product.title }}</td>
            <td >{{ item.product.title }}</td>
            <td class="d-none d-md-table-cell">&#8377;9080</td>
            <td class="d-none d-md-table-cell">Oct 20, 2018</td>
            <td >
              <span class="badge badge-success">Completed</span>
            </td>
            <td class="text-right">
              <div class="dropdown show d-inline-block widget-dropdown">
                <a class="dropdown-toggle icon-burger-mini" href="" role="button" id="dropdown-recent-order1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static"></a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-recent-order1">
                  <li class="dropdown-item">
                    <a href="#">Change order status</a>
                  </li>
                  <li class="dropdown-item">
                    <!-- <a href="#">Delete User</a> -->
                  </li>
                </ul>
              </div>
            </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
</div>
               
{% endblock content %}