{% extends 'Admin/base.html' %}

{% block title %} Order status change | Admin panel {% endblock title %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <thead>
                    {% for crt in cart_item %}
                    <tr>
                        <th>User</th>
                        <td>{{ crt.user }}</td>
                    </tr>
                    <tr>
                        <th>User</th>
                        <td>{{ crt.user }}</td>
                    </tr>
                    <tr>
                        <th>Id</th>
                        <td>{{ crt.user }}</td>
                    </tr>
                    <tr>
                        <th>Item</th>
                        <td>{{ crt.product.title }}</td>
                    </tr>
                    <tr>
                        <th>Price</th>
                        <td>&#8377;{{ crt.price }}</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{{ crt.user }}</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>{{ crt.user }}</td>
                    </tr>
                    <tr>
                        <th>Change status</th>
                        <td>{{ crt.user }}</td>
                    </tr>
                    {% endfor %}
                </thead>
                <!-- <tbody>
                    <tr><td>{{ crt.quantity }}</td></tr>
                    <tr><td>{{ crt.quantity }}</td></tr>
                </tbody> -->
            </table>
        </div>
    </div>
</div>

<a href="{% url 'orders' %}" class="btn btn-outline-info mr-5">Back to order page</a>
               
{% endblock content %}