{% extends 'Admin/base.html' %}

{% block title %} Order status change | Admin panel {% endblock title %}

{% block content %}

<div class="container">
    <div class="row ml-5">
        <div class="col-md-8 ml-5">
            <table class="table">
                <thead>
                    {% for ord in orders %}
                    <tr>
                        <th>User</th>
                        <td>{{ ord.user }}</td>
                    </tr>
                    <tr>
                        <th>Id</th>
                        <td>#EPLC{{ ord.id }}</td>
                    </tr>
                    <tr>
                        <th>Item</th>
                        <td>{{ ord.product.title }}</td>
                    </tr>
                    <tr>
                        <th>Quantity</th>
                        <td>{{ ord.product_quantity }}</td>
                    </tr>
                    <tr>
                        <th>Price</th>
                        <td>&#8377;{{ ord.product_price }}</td>
                    </tr>
                    <tr>
                        <th>Total</th>
                        <td>&#8377;{{ total }}</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{{ ord.date }}</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <th>{{ ord.order_status }}</th>
                    </tr>
                    <tr>
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{ form }}
                            <th>
                                <Button class="btn btn-outline-primary w-25">Submit</Button>  
                                <a href="{% url 'orders' %}" class="btn btn-outline-info mr-5">Back to order page</a>
                            </th> 
                        </form>
                    </tr>
                    {% endfor %}
                </thead>
                <!-- <tbody>
                    <tr><td>{{ ord.quantity }}</td></tr>
                    <tr><td>{{ ord.quantity }}</td></tr>
                </tbody> -->
            </table>
        </div>
    </div>
</div>

               
{% endblock content %}