{% extends 'Admin/base.html' %}

{% block title %} Dashboard | Admin {% endblock title %}
{% block content %}

<div class="content-wrapper">
    
    <div class="row">
        <div class="col-md-5">
            <h5>Yearly Sales Report</h5>
        </div>
        
        <div class="col-md-7">
            <form action="" method="GET" class="mr-2">
                <label for="">From</label>
                <input type="date" name="from_date" min="2021-01-01" max="2021-12-31" onblur="func()">
                <label for="">To</label>
                <input type="date" name="to_date" min="" max="2021-12-31">
                <button class="btn btn-info btn-sm">submit</button>  
                {% if count > 0 %}
                  <a href="{% url 'convert_pdf' from to %}"><i class="fas fa-file-pdf fa-lg ml-3 text-danger"></i></a>
                  <a href="{% url 'convert_csv' from to %}"><i class="fas fa-file-csv fa-lg ml-3 text-info"></i></a>
                {% endif %}  
            </form>
        </div>
    </div>

    <script>
      function func() {
        var from = document.getElementsByName('from_date')[0].value
        var to = document.getElementsByName('to_date')[0]
        to.min = from
      }
    </script>

    {% if count > 0 %}
      <p>{{count}} result(s) found.</p>
    {% endif %}
    <table class="table">
      <thead id="myHeader">
        <tr>
          <th scope="col">No</th>
          <th scope="col">Date</th>
          <th scope="col">OderID</th>
          <th scope="col">User</th>
          <th scope="col">Product</th>
          <th scope="col">Payment Method</th>
          <th scope="col">Status</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        {% for yr in year_order %}
        <tr id="tr">
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ yr.time_stamp }}</td>
          <td>#EPLC9{{ yr.id }}</td>
          <td>{{ yr.user.username }}</td>
          <td>{{ yr.product.title }}</td>
          <td>{{ yr.payment }}</td>
          <td>{{ yr.order_status }}</td>
          <td>&#8377;{{ yr.product_price }}/-</td>
          
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h3 class="text-info">{{ message }}</h3>
    
    </div>
  </div>
</div>


{% endblock content %}
