{% extends "User/login.html" %}
{% block title %}Change your password{% endblock %}

{% block login %}

    <h4 class="text-info mt-3">Forgotten your password?</h4>
    <p class="text-secondary">Enter your e-mail address to obtain a new password.</p>
    <p class="text-danger">{{ error }}</p>
    <form action="{% url 'change_password_request_email' %}" method="post">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="">Email</label>
            <input type="email" name="email" placeholder="Email" class="form-control" required>
        </div>

        <input class="btn btn-info btn-block mb-3" type="submit" value="submit" />
    </form>

{% endblock %}