{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--========== BOX ICONS ==========-->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <!--========== CSS ==========-->
    <link rel="stylesheet" href="{% static '../assets/css/user_styles.css' %}">
    
    <!--========== fontawesome ==========-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    
    <!--========== bootstrap ==========-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- FAVICON -->
    <link href="/assets/img/logo.svg" rel="shortcut icon" />

    <title>Check out | ePalace</title>
</head>
<body>

  <header class="l-header" id="header">
    <nav class="nav bd-container">
        <a href="{% url 'user_home' %}" class="nav__logo">ePalace</a>
    </nav>
  </header>

<div class="container">
    <div class="row">
        
        <div class="col-md-7" id="top-div">
            
            <div class="row">

                <div class="col-md-8">
                    <h4 id="title">Delivery Address</h4>
                    <p id="error" class="text-danger"></p>
                </div>

                <div class="col-md-4">
                    <a href="{% url 'add_address' user.id %}?next=/check_out/"><button class="btn btn-outline-warning btn-sm ml-3">Add new address</button></a>
                </div>

                {% if adrs_count <= 0 %}
                <input type="radio" value="{{ adrs.id }}" name="address" id="addresInput" required hidden>
                <p class="ml-3 text-dark">No address, Add new address</p>
                {% endif %}
                
                {% for adrs in display_address %}
                <form action="" method="POST">
                    {% csrf_token %}

                    <div class="col-md-10">
                        <label for="address">
                            <input type="radio" value="{{ adrs.id }}" name="address" id="addresInput" required>
                            {{ adrs.name }}, +91 {{ adrs.mobile_number }}, {{ adrs.address }}, {{ adrs.city }}, Pincode: {{ adrs.pincode }}
                        </label>
                    </div>

                    <div class="col-md-2 ml-2">
                        <a href="{% url 'edit_address' adrs.id %}?next=/check_out/">Edit</a>
                    </div>

                {% endfor %}

                    <hr>

                    <div class="col-md-12">
                        <h4 id="title">Payment Options</h4>
                    </div>

                    <div class="col-md-12">

                        <label>
                            <input type="radio" name="payment-option" value="paypal">
                            Pay with PayPal
                        </label>

                        <br>

                        <label>
                            <input type="radio" name="payment-option" value="razorpay">
                            Pay with Razorpay
                        </label>

                        <br>

                        <label>
                            <input type="radio" name="payment-option" value="cod">
                            Cash on Delivery
                        </label>

                        <div id="paypal-button-container">
                            <button class="btn btn-info btn-block" onclick="validation()">Pay with Paypal</button>
                        </div>
                        
                        <div id="rzp-button-container">
                            <button class="btn btn-info btn-block" id="rzp-button1" onclick="validation()">Pay with Razorpay</button>
                        </div>
                        
                        <div id="cod-button-container">
                            <button class="btn btn-info btn-block" id="cnfrmOrdrBtn" onclick="validation()">Confirm Order</button>
                        </div>

                    </div>
                    
                </form>
                
                <script>
                    // Hide cod and razorpay buttons by default
                    document.body.querySelector('#cod-button-container')
                        .style.display = 'none';
                    document.body.querySelector('#rzp-button-container')
                        .style.display = 'none';
                    document.body.querySelector('#paypal-button-container')
                        .style.display = 'none';
                        
                    // Listen for changes to the radio buttons
                    document.querySelectorAll('input[name=payment-option]')
                        .forEach(function (el) {
                        el.addEventListener('change', function (event) {
                    
                            // If PayPal is selected, show the PayPal button
                            if (event.target.value === 'paypal') {
                            codBtn = document.body.querySelector('#cod-button-container')
                            codBtn.style.display = 'none';
                            codBtn.click()
                            document.body.querySelector('#paypal-button-container')
                                .style.display = 'block';
                            document.body.querySelector('#rzp-button-container')
                                .style.display = 'none';
                            }
                    
                            // If Razorpay is selected
                            if (event.target.value === 'razorpay') {
                            document.body.querySelector('#rzp-button-container')
                            .style.display = 'block';
                            document.body.querySelector('#cod-button-container')
                                .style.display = 'none';
                            document.body.querySelector('#paypal-button-container')
                                .style.display = 'none';
                            }
                    
                            // If cod is selected
                            if (event.target.value === 'cod') {
                            document.body.querySelector('#cod-button-container')
                                .style.display = 'block';
                            document.body.querySelector('#paypal-button-container')
                                .style.display = 'none';
                            document.body.querySelector('#rzp-button-container')
                                .style.display = 'none';
                            }
                        });
                        });

                    
                    function validation() {
                        var address = document.getElementById('addresInput').value
                        if (address == ""){
                            var error = document.getElementById("error")
                            error.innerHTML = "Select address"
                        }
                    }

                </script>
            </div>

        </div>

        <div class="col-md-4" id="right-div">
            
            <!-- <div class="col-md5">Price details</div>
            <div class="col-md-">Add </div> -->

            <span>Price details
                {% if cupon_offer_total %}
                    <a href="{% url 'delete_cupon_code' %}"><small class="text-primary ml-2" style="font-size: 18px;">Delete cupon code</small></a>
                {% else %}
                    <a href="{% url 'cupon_code' %}"><small class="text-primary ml-2" style="font-size: 18px;">Add cupon code</small></a>
                {% endif %}
            </span>

            <div class="col-md-12">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Price({{count}}items)</td>
                            {% if cupon_offer_total %}
                            <td>&#8377;{{cupon_offer_total}}<s class="small text-muted">&#8377;{{ total }}</s>
                                <small class="text-success">Cupon code added</small>
                            </td>
                            {% else %}
                            <td>&#8377;{{ total }}</td>
                            {% endif %}
                        </tr>

                        <tr>
                            <td>Delivery charge</td>
                            <td>Free</td>
                        </tr>

                        <tr>
                            <td>Total Amount</td>
                            {% if cupon_offer_total %}
                            <td>&#8377;{{ cupon_offer_total }}</td>
                            {% else %}
                            <td>&#8377;{{ total }}</td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- <div class="col-md-12">
                <button class="btn btn-outline-info btn-sm" id="prf-btn-1">Countinue shopping</button>
                <button class="btn btn-outline-success btn-sm" id="prf-btn-2">Place order</button>
            </div> -->

        </div>

    </div>
</div>


    <style>
        #right-div {
            background: rgb(247, 247, 247);
            margin-top: 93px;
            border-radius: 20px;
            /* box-shadow: 2px 3px 3px 2px #e2e2e2; */
            padding: 20px;
            margin-left: 20px;
            position: sticky;
        }
        #between-div {
            margin-top: 3%;
        }

        #title {
            font-weight: bold;
            color: rgb(184, 184, 184);
        }

        #sub-txt {
            color: seagreen;
            font-weight: bold;
        }

        a {
            text-decoration: none;
        }

        #top-div{
            background: rgb(255, 255, 255);
            margin-top: 93px;
            border-radius: 20px;
            box-shadow: 2px 3px 3px 2px #e2e2e2;
            padding: 20px;
        }
            
        .image {
            opacity: 1;
            display: block;
            width: 70%;
            height: auto;
            transition: .5s ease;
            backface-visibility: hidden;
        }

        .middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 30%;
            left: 30%;
            transform: translate(-30%, -30%);
            -ms-transform: translate(-30%, -30%);
            text-align: center;
        }

        #img:hover .image {
            opacity: 1;
        }

        #img:hover .middle {
            opacity: 1;
        }

        .text {
            margin-top: 180px;
            background-color: #04AA6D;
            color: white;
            /* width: 70%; */
            font-size: 16px;
            padding: 8px 16px;
        }

        #input {
            width: 30px;
            padding-left: 8px;
            border: 2px solid rgb(238, 238, 238);
            background: rgb(216, 216, 216);
            color: white;
        }

        .plu-min-btn{
            border: 2px solid gray;
            color: white;
            background: rgb(160, 160, 160);
        }

    </style>
    <!-- Add the PayPal JavaScript SDK with both buttons and marks components -->
    <!-- Epalace official store client id added -->
    <script src="https://www.paypal.com/sdk/js?client-id=Aag8H93IJlWr6GnfLYHU2zrwQ3-z4Fo48DvPQ9stfAcWVFxo8QAgkQ90VHfrwd7ci58PSk9i1RqEAAZi&currency=USD"></script>
    
    <!-- Razorpay script -->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>



    <!--========== SCROLL REVEAL ==========-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--========== MAIN JS ==========-->
    <script src="{% static '../assets/js/main.js' %}"></script>
    
    <!--========== BOOTSTRAP JS ==========-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>

        function increaseValue() {
          var value = document.getElementById('input').value;
          value = value ++;
          value.innerHTML = fValue;
        }
        
        function decreaseValue() {
          var value = parseInt(document.getElementById('number').value, 10);
          value = isNaN(value) ? 0 : value;
          value < 1 ? value = 1 : '';
          value--;
          document.getElementById('number').value = value;
        }
        
    </script>

    
</body>
</html>



















<!------ Razorpay ================================ -->
<!-- <script>
    var options = {
            "key": "rzp_test_yzvwEM34odH915", // Enter the Key ID generated from the Dashboard
            "amount": "{{ total }}00", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Acme Corp",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": "{{ payment.id }}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response){
                alert(response.razorpay_payment_id);
                alert(response.razorpay_order_id);
                alert(response.razorpay_signature)
            },
            "prefill": {
                "name": "John Deo",
                "email": "johndeo@example.com",
                "contact": "8793342215"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.on('payment.failed', function (response){
                alert(response.error.code);
                alert(response.error.description);
                alert(response.error.source);
                alert(response.error.step);
                alert(response.error.reason);
                alert(response.error.metadata.order_id);
                alert(response.error.metadata.payment_id);
        });
        document.getElementById('rzp-button1').onclick = function(e){
            rzp1.open();
            e.preventDefault();
        }
</script> -->

