{% extends 'User/base.html' %}
{% load static %}

{% block title %} Home | ePalace {% endblock title %}
        
{% block content %} 
        
        
<main class="l-main">
    
    <!--========== CAROSEL ==========-->
    
    <div id="carouselExampleIndicators banner" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner mt-5" id="banner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="{% static '../assets/img/canva_banner.png' %}" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static '../assets/img/canva_banner01.png' %}" alt="Second slide">
          </div>
          <div class="carousel-item mt-3">
            <img class="d-block w-100" src="{% static '../assets/img/canva_banner02.png' %}" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only text-primary">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    <!--========== MENU ==========-->
    <section class="menu section bd-container" id="menu">
        <!-- <span class="section-subtitle">Special</span> -->
        <h2 class="section-title">Offer of the week</h2>

        <div class="menu__container bd-grid">

            <!-- {% if prd.sub_category == Apple %}
            <span class="text-danger">This is samsung</span>
            {% endif %}
              -->
            {% for prd in product %}
            
            <div class="menu__content">
                <a href="{% url 'prd_detail' prd.slug %}"><img src="{% static '{{ prd.image.url }}' %}" width="1500px" height="1500px" alt="" class="menu__img"></a>
                <a href="{% url 'prd_detail' prd.slug %}"><h3 class="menu__name">{{ prd.title }}</h3></a>
                <span class="menu__detail">{{ prd.description|slice:':22' }}...</span>
                
                {% if prd.category_offer_price > 0 %}
                <small class="badge badge-light text-success">New offer available</small>
                {% elif prd.product_offer_price > 0 %}
                <small class="badge badge-light text-info">New offer available</small>
                {% endif %}

                <span class="menu__preci">&#8377;{{ prd.selling_price }} <s>&#8377;{{ prd.marked_price }}</s> </span>
                
                {% if prd.quantity <= 0 %}
                <a href="{% url 'add_to_cart' prd.id %}" hidden class="button menu__button"><i class='bx bx-cart-alt'></i></a>
                {% else %}
                <a href="{% url 'add_to_cart' prd.id %}" class="button menu__button"><i class='bx bx-cart-alt'></i></a>
                {% endif %}
                
            </div>
            {% endfor %}

        </div>
    </section>
</main>

        

{% endblock content %}
