{% extends 'User/base.html' %}
{% load static %}

{% block title %} Order | ePalace {% endblock title %}
        
{% block content %} 


<div class="container">
    <div class="row">
        
        <div class="col-md-12" id="top-div">
            
            {% if ord_count <= 0 %}
            <div class="row ml-5">
                <h5 class="text-center text-warning">No order yet</h5>
                <a href="{% url 'user_home' %}" class="btn btn-outline-info btn-sm ml-3">Back to home page</a>
            </div>

            {% else %}
            <div class="row">
                {% for ord in orders %}
                
                <div class="col-md-4" id="img">
                    <img src="{{ ord.product.image.url }}" class="image" width="125px" height="125px" alt="">      
                </div>
                
                <div class="col-md-3" id="between-div">
                    <a href="{% url 'order_detail' ord.id %}"><h5 id="title">{{ ord.product.title }}</h5></a>
                </div>
                
                <div class="col-md-3" id="between-div">
                    <h5 id="title">&#8377;{{ ord.product_price }}</h5>
                </div>
                
                {% if ord.order_status == "Ordered" %}
                <div class="col-md-2" id="between-div">
                    <span class="badge badge-warning badge-l">Ordered</span>
                </div>
                
                {% elif ord.order_status == "Packed" %}
                <div class="col-md-2" id="between-div">
                    <span class="badge badge-primary badge-l">Packed</span>
                </div>
                
                {% elif ord.order_status == "Shipped" %}
                <div class="col-md-2" id="between-div">
                    <span class="badge badge-info badge-l">Shipped</span>
                </div>
                
                {% elif ord.order_status == "Delivered" %}
                <div class="col-md-2" id="between-div">
                    <span class="badge badge-success badge-l">Delivered</span>
                </div>
                
                {% else %}
                <div class="col-md-2" id="between-div">
                    <span class="badge badge-danger badge-l">Cancelled</span>
                </div>
                {% endif %}

                {% endfor %}
            </div>
            {% endif %}

        </div>

    </div>
</div>


<style>
    #div-bottom{
        padding: 20px;
    }
    #between-div {
        margin-top: 3%;
    }

    #title {
        font-weight: bold;
        color: rgb(184, 184, 184);
    }

    #sub-txt {
        color: seagreen;
        font-weight: bold;
    }

    a {
        text-decoration: none;
    }

    #top-div{
        background: rgb(255, 255, 255);
        margin-top: 93px;
        border-radius: 40px;
        box-shadow: 2px 3px 3px 2px #e2e2e2;
        padding: 20px;
    }   
  
</style>
{% endblock content %}