{% extends 'User/base.html' %}
{% load static %}

{% block title %} Order Details | ePalace {% endblock title %}
        
{% block content %} 


<div class="container">
    <div class="row">
        
      <div class="col-md-12" id="top-div">
          
          <div class="row">
            {% for ord in order_prd %}

              <div class="col-md-4" id="img">
                  <img src="{{ ord.product.image.url }}" class="image" width="200px" height="200px" alt="">      
              </div>

              <div class="col-md-3" id="between-div">
                  <a href=""><h5 id="title">Item :{{ ord.product.title }}</h5></a>
                  <h5 id="title">Quantity: {{ ord.product_quantity }}</h5>
              </div>

              <div class="col-md-3" id="between-div">
                  <h5 id="title">Price: &#8377;{{ ord.product_price }}</h5>
                  <h5 id="title">Total: &#8377;{{ total }}</h5>
              </div>

              {% if ord.order_status == "Ordered" %}
                <div class="col-md-2" id="between-div">
                    <span class="badge badge-warning badge-l">Ordered</span>
                </div>
                
                {% elif ord.order_status == "Packed" %}
                <div class="col-md-2" id="between-div">
                    <span class="badge badge-primary badge-l">Packed</span>
                </div>
                
                {% elif ord.order_status == "Shipped" %}
                <div class="col-md-2" id="between-div">
                    <span class="badge badge-info badge-l">Shipped</span>
                </div>
                
                {% elif ord.order_status == "Delivered" %}
                <div class="col-md-2" id="between-div">
                    <span class="badge badge-success badge-l">Delivered</span>
                </div>
                
                {% else %}
                <div class="col-md-2" id="between-div">
                    <span class="badge badge-danger badge-l">Cancelled</span>
                </div>
                {% endif %}

          </div>

      </div>
  </div>


<section class="root" id="top-div">

    <figure>
      <div class="row">

        <div class="col-md-6">
          <!-- <img src="https://image.flaticon.com/icons/svg/970/970514.svg" alt=""> -->
          <figcaption>
            <h4>Tracking Details</h4>
            <h6>Order Number</h6>
            <h2>#EPLC9{{ ord.id }}</h2>
          </figcaption>
        </div>
        
        <div class="col-md-6">
          <figcaption>
            <h2 class="text-info">Delivery address</h2>
            <p class="text-secondary">{{ ord.shipping_address.name }}, {{ ord.shipping_address.address }}, {{ ord.shipping_address.city }}, {{ ord.shipping_address.pincode }}, {{ ord.shipping_address.state }} District, +91 {{ ord.shipping_address.mobile_number }}</p>
          </figcaption>
        </div>
        
      </div>
    </figure>

    <div class="order-track">
      <!-- Item Ordered -->
      {% if ord.order_status == "Ordered" %}
        <div class="order-track-step">
          <div class="order-track-status">
            <span class="order-track-status-dot-success"></span>
            <span class="order-track-status-line-success"></span>
          </div>
          <div class="order-track-text">
            <p class="order-track-text-stat">Ordered</p>
            <span class="order-track-text-sub">1st November, 2019</span>
          </div>
        </div>

        <div class="order-track-step">
          <div class="order-track-status">
            <span class="order-track-status-dot-pending"></span>
            <span class="order-track-status-line-pending"></span>
          </div>
          <div class="order-track-text">
            <p class="order-track-text-stat"> Packed - 123 Start St.Seattle, WA </p>
            <span class="order-track-text-sub">11 hours ago</span>
          </div>
        </div>

        <div class="order-track-step">
          <div class="order-track-status">
            <span class="order-track-status-dot-pending"></span>
            <span class="order-track-status-line-pending"></span>
          </div>
          <div class="order-track-text">
            <p class="order-track-text-stat">Shipped - 123 Start St.Seattle, WA </p>
            <span class="order-track-text-sub">8 hours ago</span>
          </div>
        </div>

        <div class="order-track-step">
          <div class="order-track-status">
            <span class="order-track-status-dot-pending"></span>
            <span class="order-track-status-line-pending"></span>
          </div>
          <div class="order-track-text">
            <p class="order-track-text-stat"> Delivered - 456 End St.New York City, NY</p>
            <span class="order-track-text-sub">10 hours ago</span>
          </div>
        </div>
      {% endif %}

      <!-- Item Packed -->
      {% if ord.order_status == "Packed" %}
        <div class="order-track-step">
          <div class="order-track-status">
            <span class="order-track-status-dot-success"></span>
            <span class="order-track-status-line-success"></span>
          </div>
          <div class="order-track-text">
            <p class="order-track-text-stat">Ordered</p>
            <span class="order-track-text-sub">1st November, 2019</span>
          </div>
        </div>

        <div class="order-track-step">
          <div class="order-track-status">
            <span class="order-track-status-dot-success"></span>
            <span class="order-track-status-line-success"></span>
          </div>
          <div class="order-track-text">
            <p class="order-track-text-stat"> Packed - 123 Start St.Seattle, WA </p>
            <span class="order-track-text-sub">11 hours ago</span>
          </div>
        </div>

        <div class="order-track-step">
          <div class="order-track-status">
            <span class="order-track-status-dot-pending"></span>
            <span class="order-track-status-line-pending"></span>
          </div>
          <div class="order-track-text">
            <p class="order-track-text-stat">Shipped - 123 Start St.Seattle, WA </p>
            <span class="order-track-text-sub">8 hours ago</span>
          </div>
        </div>

        <div class="order-track-step">
          <div class="order-track-status">
            <span class="order-track-status-dot-pending"></span>
            <span class="order-track-status-line-pending"></span>
          </div>
          <div class="order-track-text">
            <p class="order-track-text-stat"> Delivered - 456 End St.New York City, NY</p>
            <span class="order-track-text-sub">10 hours ago</span>
          </div>
        </div>
      {% endif %}
      
      <!-- Item Shipped -->
      {% if ord.order_status == "Shipped" %}
        <div class="order-track-step">
          <div class="order-track-status">
            <span class="order-track-status-dot-success"></span>
            <span class="order-track-status-line-success"></span>
          </div>
          <div class="order-track-text">
            <p class="order-track-text-stat">Ordered</p>
            <span class="order-track-text-sub">1st November, 2019</span>
          </div>
        </div>

        <div class="order-track-step">
          <div class="order-track-status">
            <span class="order-track-status-dot-success"></span>
            <span class="order-track-status-line-success"></span>
          </div>
          <div class="order-track-text">
            <p class="order-track-text-stat"> Packed - 123 Start St.Seattle, WA </p>
            <span class="order-track-text-sub">11 hours ago</span>
          </div>
        </div>

        <div class="order-track-step">
          <div class="order-track-status">
            <span class="order-track-status-dot-success"></span>
            <span class="order-track-status-line-success"></span>
          </div>
          <div class="order-track-text">
            <p class="order-track-text-stat">Shipped - 123 Start St.Seattle, WA </p>
            <span class="order-track-text-sub">8 hours ago</span>
          </div>
        </div>

        <div class="order-track-step">
          <div class="order-track-status">
            <span class="order-track-status-dot-pending"></span>
            <span class="order-track-status-line-pending"></span>
          </div>
          <div class="order-track-text">
            <p class="order-track-text-stat"> Delivered - 456 End St.New York City, NY</p>
            <span class="order-track-text-sub">10 hours ago</span>
          </div>
        </div>
      {% endif %}

      <!-- Item delivered -->
      {% if ord.order_status == "Delivered" %}
        <div class="order-track-step">
          <div class="order-track-status">
            <span class="order-track-status-dot-success"></span>
            <span class="order-track-status-line-success"></span>
          </div>
          <div class="order-track-text">
            <p class="order-track-text-stat">Ordered</p>
            <span class="order-track-text-sub">1st November, 2019</span>
          </div>
        </div>

        <div class="order-track-step">
          <div class="order-track-status">
            <span class="order-track-status-dot-success"></span>
            <span class="order-track-status-line-success"></span>
          </div>
          <div class="order-track-text">
            <p class="order-track-text-stat"> Packed - 123 Start St.Seattle, WA </p>
            <span class="order-track-text-sub">11 hours ago</span>
          </div>
        </div>

        <div class="order-track-step">
          <div class="order-track-status">
            <span class="order-track-status-dot-success"></span>
            <span class="order-track-status-line-success"></span>
          </div>
          <div class="order-track-text">
            <p class="order-track-text-stat">Shipped - 123 Start St.Seattle, WA </p>
            <span class="order-track-text-sub">8 hours ago</span>
          </div>
        </div>

        <div class="order-track-step">
          <div class="order-track-status">
            <span class="order-track-status-dot-success"></span>
            <span class="order-track-status-line-success"></span>
          </div>
          <div class="order-track-text">
            <p class="order-track-text-stat"> Delivered - 456 End St.New York City, NY</p>
            <span class="order-track-text-sub">10 hours ago</span>
          </div>
        </div>
      {% endif %}

      <!-- Item Cancelled -->
      {% if ord.order_status == "Cancelled" %}
        <div class="order-track-step">
          <div class="order-track-status">
            <span class="order-track-status-dot-success"></span>
            <span class="order-track-status-line-success"></span>
          </div>
          <div class="order-track-text">
            <p class="order-track-text-stat">Ordered</p>
            <span class="order-track-text-sub">1st November, 2019</span>
          </div>
        </div>

        <div class="order-track-step">
          <div class="order-track-status">
            <span class="order-track-status-dot-danger"></span>
            <span class="order-track-status-line-danger"></span>
          </div>
          <div class="order-track-text">
            <p class="order-track-text-stat"> Cancelled </p>
            <span class="order-track-text-sub">11 hours ago</span>
          </div>
        </div>
      {% endif %}

    </div>

    <div class="row" id="btns">
      
      <div class="col-md-6">
        <span class="btn btn-outline-danger btn-block">Cancel order</span>
      </div>
      
      <div class="col-md-6">
        <span class="btn btn-outline-info btn-block">Need help</span>
      </div>

    </div>
    {% endfor %}
  </section>

</div>

<style>
    #div-bottom{
        padding: 20px;
    }
    #between-div {
        margin-top: 3%;
    }

    #title {
        font-weight: bold;
        color: rgb(184, 184, 184);
    }

    #sub-txt {
        color: seagreen;
        font-weight: bold;
    }

    a {
        text-decoration: none;
    }

    #top-div{
        background: rgb(255, 255, 255);
        margin-top: 93px;
        border-radius: 40px;
        box-shadow: 2px 3px 3px 2px #dadada;
        padding: 20px;
    }

    #btns {
      margin-top: 30px;
      margin-bottom: 20px;
    }
  
</style>

<style>
    /* @import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap"); */
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.root {
  margin-top: 20px;
}

figure {
  display: flex;
}
figure img {
  width: 8rem;
  height: 8rem;
  border-radius: 15%;
  border: 1.5px solid #f05a00;
  margin-right: 1.5rem;
  padding:1rem;
}
figure figcaption {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
figure figcaption h4 {
  font-size: 1.4rem;
  font-weight: 500;
}
figure figcaption h6 {
  font-size: 1rem;
  font-weight: 300;
}
figure figcaption h2 {
  font-size: 1.6rem;
  font-weight: 500;
}

.order-track {
  margin-top: 2rem;
  padding: 0 1rem;
  border-top: 1px dashed #2c3e50;
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
}
.order-track-step {
  display: flex;
  height: 6rem;
}
.order-track-step:last-child {
  overflow: hidden;
  height: 4rem;
}
.order-track-step:last-child .order-track-status span:last-of-type {
  display: none;
}
.order-track-status {
  margin-right: 1rem;
  position: relative;
}
.order-track-status-dot-pending {
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #9b9b9b;
}

.order-track-status-dot-success {
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #38c500;
}

.order-track-status-dot-danger {
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #c50700;
}

.order-track-status-line-pending {
  display: block;
  margin: 0 auto;
  width: 2px;
  height: 6rem;
  background: #9b9b9b;
}

.order-track-status-line-success {
  display: block;
  margin: 0 auto;
  width: 2px;
  height: 6rem;
  background: #38c500;
}

.order-track-status-line-danger {
  display: block;
  margin: 0 auto;
  width: 2px;
  height: 6rem;
  background: #c50700;
}

.order-track-text-stat {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 3px;
  color: slategrey;
}
.order-track-text-sub {
  font-size: .8rem;
  font-weight: 300;
  color: #2c3e50;
}

.order-track {
  transition: all .3s height 0.3s;
  transform-origin: top center;
}
</style>

{% endblock content %}