<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Placed</title>
</head>
<body>
    <video width="920" height="640" muted autoplay="autoplay" style="margin-left: 300px; margin-top: 50px;">
        <source src="/assets/video/shot.mp4" type="video/mp4">
    </video>
    <script>
        setTimeout(function(){
           window.location.href = '/order';
        }, 10300);
     </script>
</body>
</html>