{% extends 'User/base.html' %}
{% load static %}

{% block title %} Product Details | ePalace {% endblock title %}
        
{% block content %} 


        <main>
            <div class="container">
                <div class="row" id="prd-dtl-div">
                    <style>
                        #img1-big, #img2-big, #img3-big{
                            display: none;
                        }
                    </style>

                    <script>
                        
                    </script>
                        

                    <div class="col-md-6" id="img-container" style="width: 500px; height:480px;" onmouseover="hideSideDiv()" onmouseout="showSideDiv()">
                        <img id="imgbig" class="img_{{product_detailed.id}}" src="{{ product_detailed.image.url }}" width="1500px" height="1500px" alt="" onmouseover="hideSideDiv()" onmouseout="showSideDiv()">
                        <img id="img1-big" class="img_{{product_detailed.id}}" src="{{ product_detailed.more_image_one.url }}" width="1500px" height="1500px" alt="" onmouseover="hideSideDiv()" onmouseout="showSideDiv()">
                        <img id="img2-big" class="img_{{product_detailed.id}}" src="{{ product_detailed.more_image_two.url }}" width="1500px" height="1500px" alt="" onmouseover="hideSideDiv()" onmouseout="showSideDiv()">
                        <img id="img3-big" class="img_{{product_detailed.id}}" src="{{ product_detailed.more_image_three.url }}" width="1500px" height="1500px" alt="" onmouseover="hideSideDiv()" onmouseout="showSideDiv()">
                        
                        <!-- <hr> -->
                        
                        <div class="row"> <!-- id='change' class='pure-button settings__button' onclick="changeImage('imageZoom')" -->
                            <div class="col-md-3"><img onclick="imfunc()" src="{{ product_detailed.image.url }}" alt=""></div>
                            <div class="col-md-3"><img onclick="img1Func()" src="{{ product_detailed.more_image_one.url }}" alt=""></div>
                            <div class="col-md-3"><img onclick="img2Func()" src="{{ product_detailed.more_image_two.url }}" alt=""></div>
                            <div class="col-md-3"><img onclick="img3Func()" src="{{ product_detailed.more_image_three.url }}" alt=""></div>
                            <!-- <button id='change' class='pure-button settings__button' onclick="changeImage('imageZoom')">Change</button> -->
                        </div>
                        
                    </div>
                    
                    <div class="col-md-6" id="imgZoomHideDiv">

                        <h4 class="text-info" id="prd-txt">{{ product_detailed.title }}</h4>

                        <h5>{{ product_detailed.description }}</h5>
                        {% if product_detailed.guarandeed %}
                        <span class="badge badge-success" id="guarandeed" onclick="ff()">Guarandeed</span>
                        <!-- <img src="/assets/img/guarandeed-tag-02.jpg" width="90px" height="90px" alt=""> -->
                        {% endif %}
                        <br>
                        {% if product_detailed.quantity <= 0 %}
                            <span class="text-danger">Out of Stock</span><br>
                        {% endif %}
                        <!-- <br> -->
                        <!-- <br> -->
                        <div id="price">
                            {% if product_detailed.category_offer_price > 0 %}
                            <img src="/assets/img/offer-tag.jpg" width="100px" height="100px" alt="">
                            <span>
                                <h4 class="text-danger">&#8377;{{ product_detailed.category_offer_price }} <span class="text-secondary"><small>{{ category_offer_table.offer_percentage }}% off</small></span></h4>
                                <s class="text-secondary"><small>&#8377;{{ product_detailed.selling_price }}</small></s>
                            </span>
                            <br>

                            {% elif product_detailed.product_offer_price > 0 %}
                            <img src="/assets/img/offer-tag.jpg" width="100px" height="100px" alt="">
                            <span>
                                <h4 class="text-danger">&#8377;{{ product_detailed.product_offer_price }} <span class="text-secondary"><small>{{ product_offer_table.offer_percentage }}% off</small></span></h4>
                                <s class="text-secondary"><small>&#8377;{{ product_detailed.selling_price }}</small></s>
                            </span>
                            <br>

                            {% else %}
                            <span class="mt-4 text-danger">&#8377;{{ product_detailed.selling_price }}</span> <s class="text-secondary"><small>&#8377;{{ product_detailed.marked_price }}</small></s>
                            {% endif %}
                        </div>
                        <br>
                        
                        <div id="offer">
                            <span class="mt-3 text-dark font-weight-bold">Availble offers</span><br>
                            {% if cupon_code or refferal_code %}
                            <img src="/assets/img/offer-icon.png" width="19px" height="19px" alt=""><span class="mt-3 text-secondary"> <span class="font-weight-bold">Invite Offer: </span> Invite friends get &#8377;1000 voucher.</span></s>
                                {% if refferal_code.recommended_by %}
                                {% endif %}
                                <br>
                                {% for cp in cupon_code %}
                                <img src="/assets/img/offer-icon.png" width="19px" height="19px" alt=""><span class="mt-3 text-secondary"> <span class="font-weight-bold">Cupon Code: </span> Add "{{cp.cupon_code}}" code. &#8377;{{cp.offer_price}} off</span></s>
                                <br>
                                {% endfor %}
                            {% else %}
                                <p>No offer available.</p>
                            {% endif %}
                        </div>
                        <br>
                        {% if product_detailed.quantity <= 0 %}

                        <button disabled class="btn" id="add-to-cart-btn">Add to Cart</button>
                        <button disabled class="btn" id="buy-now-btn">Buy Now</button>

                        {% else %}

                        <a href="{% url 'add_to_cart' product_detailed.id %}"><button class="btn update-cart" id="add-to-cart-btn">Add to Cart</button></a>
                        <!-- <button data-product="{{ product_detailed.id }}" data-action="add" class="btn update-cart" id="add-to-cart-btn">Add to Cart</button> -->
                        <button class="btn" id="buy-now-btn">Buy Now</button>
                        
                        {% endif %}

                        <div id="spec">
                            <h4 class="text-muted">Specifications</h4>
                           
                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th>General</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-secondary">Model Number</td>
                                        <td>{{ product_detailed.model_number }}</td>
                                    </tr>

                                    <tr>
                                        <td class="text-secondary">Model Name</td>
                                        <td>{{ product_detailed.model_name }}</td>
                                    </tr>

                                    <tr>
                                        <td class="text-secondary">Color</td>
                                        <td>{{ product_detailed.color }}</td>
                                    </tr>

                                    <tr>
                                        <td class="text-secondary">Size</td>
                                        <td>{{ product_detailed.size }}</td>
                                    </tr>
                                </tbody>


                                <thead>
                                    <tr>
                                        <th>Processor & Memory Features</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-secondary">Processor Brand</td>
                                        <td>{{ product_detailed.processor_brand }}</td>
                                    </tr>

                                    <tr>
                                        <td class="text-secondary">Processor Name</td>
                                        <td>{{ product_detailed.processor_name }}</td>
                                    </tr>

                                    <tr>
                                        <td class="text-secondary">Storage</td>
                                        <td>{{ product_detailed.storage }}</td>
                                    </tr>

                                    <tr>
                                        <td class="text-secondary">Ram</td>
                                        <td>{{ product_detailed.ram }}</td>
                                    </tr>
                                    
                                </tbody>
                                
                            </table>
                        </div>
                        
                    </div>

                    <script>
                        function hideSideDiv() {
                            document.getElementById('imgZoomHideDiv').style.display = "none"
                        }
                        function showSideDiv() {
                            document.getElementById('imgZoomHideDiv').style.display = "block"
                        }
                    </script>

                </div>
            </div>
        </main>

        <script src="/assets/js/cart.js"></script>
        <script src="/assets/js/js-image-zoom.js"></script>
        <script src="/assets/js/moreImgChange.js"></script>

        <script>

        var options1 = {
            width: 400,
            zoomWidth: 500,
            offset: {vertical: 0, horizontal: 10}
        };

        // If the width and height of the image are not known or to adjust the image to the container of it
        var options2 = {
            fillContainer: true,
            offset: {vertical: 0, horizontal: 10}
        };
        new ImageZoom(document.getElementById("img-container"), options2);

        </script>
{% endblock %}