{% extends 'User/base.html' %}
{% load static %}

{% block title %} Search | ePalace {% endblock title %}
        
{% block content %} 

        <main>
            <div class="container">
                <div class="row" id="section">

                    <div class="col-3" id="filter-div">
                        <h5 class="mt-3">Price</h5>

                        <div class="form-check ml-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Under 10,000
                            </label>
                        </div>

                        <div class="form-check ml-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Under 20,000
                            </label>
                        </div>

                        <div class="form-check ml-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Under 30,000
                            </label>
                        </div>

                        <div class="form-check ml-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Under 50,000
                            </label>
                        </div>

                        <div class="form-check ml-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Under 1,00000
                            </label>
                        </div>


                        <h5 class="mt-3">Ram</h5>

                        <div class="form-check ml-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="one">
                            <label class="form-check-label" for="flexCheckDefault">
                              4GB
                            </label>
                        </div>

                        <div class="form-check ml-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="one">
                            <label class="form-check-label" for="flexCheckDefault">
                              8GB
                            </label>
                        </div>

                        <div class="form-check ml-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="one">
                            <label class="form-check-label" for="flexCheckDefault">
                              16GB
                            </label>
                        </div>

                        <h5 class="mt-3">Storage</h5>

                        <div class="form-check ml-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="one">
                            <label class="form-check-label" for="flexCheckDefault">
                              64GB
                            </label>
                        </div>

                        <div class="form-check ml-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="one">
                            <label class="form-check-label" for="flexCheckDefault">
                              128GB
                            </label>
                        </div>

                        <div class="form-check ml-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="one">
                            <label class="form-check-label" for="flexCheckDefault">
                              512GB
                            </label>
                        </div>

                    </div>

                    <div class="col-9">
                        <div class="row">

                            <div class="col-4">
                                <img src="../assets/img/apple macbook 500 500.jpg" alt="" >
                            </div>
                            
                            <div class="col-8 mt-3">
                                <p>APPLE MacBook Air M1 - (8 GB/512 GB SSD/Mac OS Big Sur) MGN73HN/A  (13.3 inch, Space Grey, 1.29 kg)
                                    <br><span class="mt-3 text-danger">₹1,17,900</span> <s class="text-secondary"><small>₹1,55,900</small></s>
                                </p>
                            </div>

                            <hr>

                            <div class="col-4">
                                <img src="/assets/img/apple macbook pro 500 500.jpg" alt="" >
                            </div>
                            
                            <div class="col-8 mt-3">
                                <p>APPLcE MacBook Air M1 - (8 GB/512 GB SSD/Mac OS Big Sur) MGN73HN/A  (13.3 inch, Space Grey, 1.29 kg)
                                    <br><span class="mt-3 text-danger">₹1,17,900</span> <s class="text-secondary"><small>₹1,55,900</small></s>
                                </p>
                            </div>

                            <hr>

                            <div class="col-4">
                                <img src="/assets/img/apple macbook air 500 500.jpg" alt="" >
                            </div>
                            
                            <div class="col-8 mt-3">
                                <p>APPLE MacBook Air M1 - (8 GB/512 GB SSD/Mac OS Big Sur) MGN73HN/A  (13.3 inch, Space Grey, 1.29 kg)
                                    <br><span class="mt-3 text-danger">₹1,17,900</span> <s class="text-secondary"><small>₹1,55,900</small></s>
                                </p>
                            </div>

                            <hr>

                        </div>
                    </div>

                </div>
            </div>
        </main>

        <!--========== FOOTER ==========-->

        <footer class="footer section bd-container">
            <div class="footer__container bd-grid">

                <div class="footer__content">
                    <!-- <a href="#" class="footer__logo">ePalace</a> -->
                    <div>
                        <br><br><br>
                        <a href="#" class="footer__social"><i class='bx bxl-facebook'></i></a>
                        <a href="#" class="footer__social"><i class='bx bxl-instagram'></i></a>
                        <a href="#" class="footer__social"><i class='bx bxl-twitter'></i></a>
                        <span class="footer__description">Follow us</span>
                    </div>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">About</h3>
                    <ul>
                        <li><a href="#" class="footer__link">Contact Us</a></li>
                        <li><a href="#" class="footer__link">About Us</a></li>
                        <li><a href="#" class="footer__link">ePalace stories</a></li>
                    </ul>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Information</h3>
                    <ul>
                        <li><a href="#" class="footer__link">Privacy Policy</a></li>
                        <li><a href="#" class="footer__link">Return Policy</a></li>
                        <li><a href="#" class="footer__link">Security</a></li>
                    </ul>
                </div>

            </div>

{% endblock content %}